*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#E6EBEF;
  display:flex;
  justify-content:center;
}

.app{
  width:390px;
  height: 750px;
  background:#F2F2F2;
  position:relative;
  overflow:hidden;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  
}

/* HERO CARD */
.hero{
  position:absolute;
  top:20px;
  left:20px;
  right:20px;
  height:560px; /* 68% approx */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 68px;
  border-bottom-right-radius: 68px;
  border: 2px solid #fff;
  background:url('https://media.adeo.com/mkp/b75bdacf743c69a5fa628dd0213542f8/media.jpeg') center bottom/cover no-repeat;
  overflow:hidden;
}
      /*******for chek*****/


/* Overlay */
.hero::after{
  content:"";
  position:absolute;
  inset:0;
  background:linear-gradient(
    to bottom right,
    rgba(0,0,60,0.55),
    rgba(0,0,0,0.15)
  );
}



/* TEXT */
.hero h1{
  position:absolute;
  top:48px;
  left:30px;
  color:#fff;
  font-size:34px;
  line-height:1.15;
  font-weight:600;
  z-index:2;
}

.hero span{
  font-weight:300;
}

/* WHITE CUT SHAPES */

.cut-selection{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: -35;
    

}



.cut-left,
.cut-right{
  position:absolute;
  width:220px;
  height:110px;
  background:#F2F2F2;
  border-radius:20px;


  z-index:6;
  margin-bottom: 7%;
}



.cut-left{
  bottom:260px;
  left:-35px;
   
  
 
}

.cut-right{
  bottom:260px;
  right:-35px;

    
}

/* BUTTON AREA */

.main-btn-area{
    height: 100px;
    width: 100%;
    background: #F2F2F2;
}





.button-area{
  position:absolute;
  bottom:160px;
  left:35px;
  right:35px;
  z-index:6;
  top:30rem;
}




.button-wrap{
   
  padding:9px;
  border-radius:80px;
  
}

.start-btn{
  width:100%;
  height:75px;
  border:none;
  border-radius:50px;
  background:#ECECEC;
  font-size:17px;
  font-weight:500;
  
}

/* FOOTER */
.footer{
  position:absolute;
  bottom:80px;
  width:100%;
  text-align:center;
  font-size:13px;
  color:#9B9B9B;
}

.register{
  margin-top:10px;
  padding:11px 34px;
  border:none;
  border-radius:28px;
  background:linear-gradient(90deg,#4DA3FF,#2563EB);
  color:white;
  font-size:13px;
}

.login-btn{
  border: none;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    z-index: 1;
  
}